.container {
    display: flex;
    justify-content: center;    
}


#gameContainer{
    width:540px;
    height:630px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    border: 7px solid blue;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.column{
    border:7px solid blue;
    width:90px;
    background-color: blue;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}
.slot{
    background-color: white;
    width:100%;
    position: absolute;
    z-index: 2;
    height:90px;
    border-radius: 50%;
}
.slot.clickable.red:hover{
    background-color: red;
}
.slot.clickable.yellow:hover{
    background-color: yellow;
}

#scoreBoard{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

h4 {
    font-size: 30px;
}

.scores{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#playerOne {
    color: red;
    font-size: 20px;
}

#playerTwo {
    color: rgba(194, 194, 0, 0.842);
    font-size: 60px;
}

#right {
    justify-content: right;
    float:right;
    text-align: right;
}

#left {
    justify-content: left;
    float: left;
    text-align: center;
}

#redScore {
    font-size:50px;
}

#yellowScore {
    font-size:50px;
}